<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proyecto.urudatamovil"
    android:versionCode="1"
    android:versionName="0.0.1-SNAPSHOT" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat" >
        <activity android:name=".activities.MainActivityOutsourcer" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.OutsourcerActivity"
            android:label="@string/title_activity_out_name"
            android:parentActivityName=".activities.MainActivityOutsourcer"
            android:theme="@style/Theme.AppCompat" >
        </activity>
        <activity
            android:name=".activities.LicenceActivity"
            android:label="@string/title_activity_licencia"
            android:parentActivityName=".activities.MainActivityOutsourcer"
            android:theme="@style/Theme.AppCompat" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivityOutsourcer" />
        </activity>
        <activity
            android:name=".activities.LicenceConnectActivity"
            android:label="@string/title_activity_licence_connect" >
        </activity>
        <activity
            android:name=".activities.PhotoActivity"
            android:label="@string/title_activity_photo" >
        </activity>
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            android:label="@string/Seleccione Foto" >
        </activity>
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            android:label="@string/title_activity_list_peticion" >
        </activity>
        <activity
            android:name=".activities.ListPeticionActivity"
            android:label="CTR - Solicitudes Recientes"
            android:parentActivityName=".activities.MainActivityOutsourcer"
            android:theme="@style/Theme.AppCompat" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivityOutsourcer" />
        </activity>
        <activity
            android:name=".activities.PeticionDetailActivity"
            android:label="@string/title_activity_peticion_detail"
            android:parentActivityName=".activities.MainActivityOutsourcer"
            android:theme="@style/Theme.AppCompat" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivityOutsourcer" />
        </activity>
        <activity
            android:name=".activities.LoginConnectActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".activities.CertificadoConnectActivity"
            android:label="@string/title_activity_certificado_connect"
            android:parentActivityName=".activities.ListPeticionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.proyecto.urudatamovil.activities.ListPeticionActivity" />
        </activity>
        <activity
            android:name=".activities.CalendarActivity"
            android:label="@string/title_activity_calendar" >
        </activity>
    </application>

</manifest>
